.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for Edge/IE */
  .scrollbar-hidden {
    -ms-overflow-style: none;
  }